.carousel-item-padding{
    padding: 100px 250px;
}
.add-section{
    background-color: #0b2e13;
    /*color: white;*/
    background: url("../images/1.jpg");
    background-attachment: fixed;
    background-size: cover;
}